@font-face {
    font-family: PingFangSC-Light;
    src: url('font/PingFang Light.ttf');
}
@font-face {
    font-family:  PingFangSC-Regular;
    src: url('font/PingFang-SC-Regular.otf');
}
.honor_main_list::-webkit-scrollbar {
    width:0px;
    height:0px;
}
.honor_main_list::-webkit-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-webkit-scrollbar {
    width:10px;
    height:10px;
}
/*o内核*/
.honor_main_list .-o-scrollbar{
    -moz-appearance: none !important;
    background: rgba(0,255,0,0) !important;
}
.honor_main_list::-o-scrollbar-button    {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-o-scrollbar-track     {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-o-scrollbar-track-piece {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-o-scrollbar-thumb{
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-o-scrollbar-corner {
    background-color:rgba(0,0,0,0);
}
.honor_main_list::-o-scrollbar-resizer  {
    background-color:rgba(0,0,0,0);
}
/*IE10,IE11,IE12*/
.scroll_content{
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    -ms-overflow-style: none;
    overflow: auto;
}

html,body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}
.top_banner{
    width:100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
.top_right{
    width: 11%;
    height: 4%;
    position: absolute;
    right: 2.5%;
    top: 6%;
    z-index: 99;
    font-size: 158%;
    background-color: black;
    color: white;
    text-align: center;
}
.banner_lunbo{
    width:90%;
    height:90%;
    margin:3% auto;
}
.banner_lunbo li{
    width:100%;
    height:100%;
    list-style: none;
}
.banner_lunbo li img{
    width:100%;
    height:100%;
}

.top_meau{
    width:90%;
    height:13%;
    margin:0 auto;
    border-bottom:1px solid #CCCED3;
    position: relative;
    background-color: white;
    z-index:200;
}
.left_meau{
    font-family: Arial-Black;
    font-size: 216%;
    color: #000000;
    letter-spacing: 0;
    float:left;
    margin-top:3%;
}
.top_meau ul{
    width:60%;
    height:100%;
    margin:0px;
    padding:0px;
    float:right;
}
.top_meau ul li{
    list-style: none;
    float: left;
    width: 14.6%;
    height: 60%;
    margin-top: 5%;
    font-family: PingFangSC-Light;
    font-size: 140%;
    color: #000000;
    letter-spacing: 0;
    margin-left: 2%;
    text-align: center;
    cursor: pointer;
}
.top_meau ul li:hover{
    border-bottom: 3px solid black;
}
.active{
    border-bottom: 3px solid black;
}


.honor{
    width:100%;
    height:147%;
}
.honor_top{
    width:69%;
    height:28%;
    margin:0 auto;
    border-bottom:1px solid #EBEBEB;
}
.honor_top_top{
    width: 17%;
    height: 45%;
    margin:0 auto;
    overflow: hidden;
    border-left:1px solid  #CCCED3;
}
.h_t_t_2{
    width: 100%;
    height: 19%;
    background-color: #B8A892;
    color: white;
    font-size: 197%;
    margin-top: 66%;
}
.honor_top_main{
    width:100%;
    height:55%;
}
.honor_top_main li{
    width: 25%;
    height: 80%;
    list-style: none;
    text-align: center;
    font-family: PingFangSC-Light;
    font-size: 100%;
    color: #B8A892;
    letter-spacing: 0;
    float: left;
    margin-top: 4%;
}
.honor_main{
    width: 80%;
    height: 53%;
    margin: 0 auto;
    margin-top: 8%;
    overflow: hidden;
}
.honor_main_list{
    width: 10%;
    height: 61%;
    margin-top: 10%;
    float: left;
    margin-left: 7%;
    overflow:scroll;
}
.honor_main_list li{
    list-style: none;
    width: 98%;
    height: 32%;
    margin-top: 4%;
    border: 1px solid #EBEBEB;
    text-align: center;
    line-height: 800%;
    font-family: PingFangSC-Light;
    font-size: 130%;
    letter-spacing: 0;
    cursor: pointer;
}
.honor_main_list li:hover{
    border:1px solid #D0C6B7;
}
.honor_main_main{
    width:82%;
    height:100%;
    float: left;
    margin-left:1%;
}
.honor_main_main li{
    width:100%;
    height:100%;
    list-style: none;
    position: relative;
    display: none;
}
.h_m_m_word{
    width: 40%;
    height: 34%;
    margin-top: 17%;
    text-align: center;
    font-size:100%;
    color: #8E929C;
}
 h3{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: Futura-CondensedExtraBold;
    font-size: 400%;
    color: #000000;
    letter-spacing: 0;
}
 h5{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-family: ArialRoundedMTBold;
    font-size: 120%;
    color: #000000;
    letter-spacing: 0;
}
.pic_1{
    position: absolute;
    left: 44%;
    top: -20%;
    width: 59%;
}
.pic_2{
    position: absolute;
    left: 39%;
    top: -9%;
    width: 53%;
}



.building{
    width:100%;
    height:290%;
}
.building_top{
    width: 68%;
    height: 1%;
    margin: 0 auto;
    font-size: 281%;
    font-weight: 600;
}
.building_main{
    width: 80%;
    height: 22%;
    margin: 0 auto;
    position: relative;
}
.b_m_word{
    width: 29%;
    height: 62%;
    float: right;
    margin-top: 11%;
    margin-right: 7%;
    text-align: center;
}
.pic_3{
    position: absolute;
    left: 7%;
    top: 12%;
    width: 27%;
}
.pic_4{
    position: absolute;
    left: 35%;
    top: 9%;
    width: 22%;
}
.pic_5{
    position: absolute;
    left: 20%;
    top: 38%;
    width: 26%;
}
.pic_6{
    position: absolute;
    left: 30%;
    top: 33%;
    width: 9%;
}
.pic_7{
    position: absolute;
    left: 17%;
    top: 43%;
    width: 9.6%;
}
.pic_more{
    argin-top: 6%;
    width: 16%;
}
.building_center{
    width: 85%;
    height: 29%;
    margin: 10% auto;
    background:url('../img/Rectangle26.png');
}
.building_center_top{
    width: 90%;
    height: 16%;
    font-family: PingFangSC-Medium;
    font-size: 400%;
    color: #262626;
    letter-spacing: 0;
    margin: 0 auto;
    line-height: 3em;
    position: relative;
}
.building_center ul{
    width:90%;
    height:80%;
    padding:0px;
    margin:0 auto;
    margin-top:1%;
    overflow: hidden;
}
.building_center ul li{
    display: none;
    list-style: none;
    width:100%;
    height:100%;
    overflow: hidden;
}
.building_center_pic{
    width:100%;
    height:77%;
}
.building_center_pic img{
    width:100%;
    height:100%;
}
.building_center_left{
    width: 68%;
    height: 23%;
    float: left;

    font-family: PingFangSC-Light;
    font-size: 120%;
    color: #262626;
    letter-spacing: 0;
    line-height: 2em;
    overflow: hidden;
    padding-top: 2%;
}
.building_center_right{
    border-left: 2px solid #EBEBEB;
    width: 30.8%;
    height: 12%;
    margin-top: 3%;
    float: left;
    font-family: PingFangSC-Light;
    font-size: 120%;
    color: #A79C85;
    letter-spacing: 0;
    line-height: 4em;
}
.building_center_right span{
    padding-left: 10%;
    padding-right: 10%;
    font-family: PingFangSC-Medium;
    font-size: 120%;
    color: #A79C85;
    letter-spacing: 0;
}
.prev_button,.next_button{
    width: 4%;
    height: 45%;
    float: right;
    margin-top: 5%;
    margin-left: 2%;
    cursor: pointer;
}
.technology{
    width:100%;
    height:80%;
    margin-top:5%;
}
.technology .tech_title{
    width: 35%;
    height: 25%;
    margin: 0 auto;
    text-align: center;
    font-size: 345%;
    line-height: 4em;
    border-bottom: 1px solid #EBEBEB;
}
.technology .tech_main{
    width: 63%;
    height: 52%;
    margin: 5% auto;
    background: url('../img/fazhan.png') no-repeat;
    background-size: contain;
}
.tech_main li{
    list-style: none;
    text-align: center;
    width: 33%;
    height: auto;
    float: left;
    font-family: PingFangSC-Light;
    font-size: 105%;
    color: #000000;
    letter-spacing: 0;
    line-height: 2.5em;
}
.tech_main li p{
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Futura-Bold;
    font-size: 150%;
    color: #000000;
    letter-spacing: 0;
}
.designer{
    width: 84%;
    height: 78%;
    margin: 0 auto;
    background: url('../img/Group17.png');
    overflow: hidden;
}
.designer_left{
    width: 10%;
    height: 29%;
    overflow: hidden;
    border-right: 1px solid #CCCED3;
    margin-left: 13%;
    margin-top: 5%;
    float:left;
}
.d_l_2{
    width: 100%;
    height: 19%;
    background-color: #B8A892;
    color: white;
    font-size: 197%;
    margin-top: 102%;
}
.designer_main{
    width:70%;
    height:80%;
    float:left;
    margin-left: 2%;
    margin-top: 5%;
}
.designer_main li{
    list-style: none;
    width:30%;
    height:100%;
    margin-left:3%;
    float: left;
    font-family: PingFangSC-Light;
    font-size: 120%;
    color: #000000;
    letter-spacing: 0;
}
.des_pic{
    width:100%;
}
.designer_main li p{
    font-family: ChalkboardSE-Bold;
    font-size: 150%;
    color: #000000;
    letter-spacing: 0;
}

.contact{
    width:84%;
    height:113%;
    margin:0 auto;
}
.contact_top{
    width:100%;
    height:28%;
    background:url('../img/Rectangle16.png');
}
.contact_question{
    width: 50%;
    height: 100%;
    float: left;
    font-size: 400%;
    line-height: 6em;
    margin-left: 6%;
}
.contact_right{
    margin-top: 5%;
    float: right;
    margin-right: 4%;
    width: 25%;
}
.contact_right img{
    cursor: pointer;
}
.contact_bottom{
    width:100%;
    height:72%;
    background:url('../img/Group32.png');
    background-size: contain;
}
.contact_bottom_left,.contact_bottom_right{
    width:35.9%;
    height:80%;
    float:left;
}
.contact_bottom_left{
    font-family: PingFangSC-Light;
    font-size: 90%;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-left: 15%;
}
.contact_bottom_left p{
    font-family: Arial-Black;
    font-size: 330%;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 2%;
}
.contact_bottom_bottom{
    width:100%;
    height:20%;
    float: left;
    border-top:1px solid white;
}
.contact_bottom_right p{
    color: white;
    font-size: 235%;
    margin-top: 16%;
}
.user_name{
    width: 46%;
    background-color: transparent;
    height: 8%;
    border: 1.5px solid #6A6154;
}
.user_email{
    width: 46%;
    background-color: transparent;
    height: 8%;
    border: 1.5px solid #6A6154;
    margin-left:5%;
}
.user_subject{
    width: 98%;
    background-color: transparent;
    height: 8%;
    border: 1.5px solid #6A6154;
    margin-top:5%;
}
.user_message{
    width: 98%;
    background-color: transparent;
    height: 28%;
    border: 1.5px solid #6A6154;
    margin-top:5%;
}
.submit{
    width: 98%;
    margin-top:5%;
    height:5%;
    background-color: #6A6154;
    border:none;
    color:white;
}
.contact_right img{
    width:100%;
}
.go_top_pic{
    width:2%;
    height:50%;
    background: url("../img/Group37.png") no-repeat;
    background-size: contain;
    margin:20px auto;
}