<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房产</title>
    <link type="text/css" href="__static__/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="__static__/css/swiper.min.css">
    <style>
        .swiper-button-next{
            width: 3%;
            height: 6%;
            right: 5%;
            background: url('__static__/img/Group31.png');
        }
        .swiper-button-prev{
            width: 3%;
            height: 6%;
            left: 5%;
            background: url('__static__/img/Group20.png');
        }
    </style>
</head>
<body>
    <div class="swiper-container top_banner">
        <div class="top_right">Italian tranquility</div>
        <div class="swiper-wrapper banner_lunbo">
            <div class="swiper-slide"><img src="__static__/img/Banner.png" /></div>
            <div class="swiper-slide"><img src="__static__/img/101381.png" /></div>
        </div>
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="top_meau">
        <div class="left_meau">Architectural Group</div>
        <ul>
            <li>Home</li>
            <li>Honor</li>
            <li>Building</li>
            <li>Technology</li>
            <li>Designer</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="honor">
        <div class="honor_top">
                <div class="honor_top_top">
                    <div class="h_t_t_2">
                        WE IN NUMBERS
                    </div>
                </div>
            <div class="honor_top_main">
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">3</span><br/>YEARS</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">12</span><br/>MEMBERS</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">25</span><br/>YEARS OF EXPERIENCE</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">350</span><br/>REALIZATIONS</li>
            </div>
        </div>
        <div class="honor_main">
            <div class="honor_main_list">
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">1</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">2</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">3</span></li>
            </div>
            <div class="honor_main_main">
                <li>
                    <div class="h_m_m_word">
                       <h3>FUTURE HOME</h3>
                        <h5>Integration of technology and home</h5>
                        Design inspiration of future architecture<br/>
                        Artificial intelligence of future science and<br/>
                        technology,Make life more confortable
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
            </div>
        </div>
    </div>
    <div class="building">
        <div class="building_top">Building System</div>
        <div class="building_main">
                <div class="b_m_word">
                    <h3>ABOUT</h3>
                    <hr style="width:3%;text-align: center;"/>
                    <h5>Arhitectural style refers to<br/>architural design In content and<br/>appearance Charateristics reflected</h5>
                    Kogi Cosby sweater ethical<br/>
                    squid irony disrupt,organic<br/>
                    tote bag gluten-free X0X0<br/>
                    wolf typewriter mixtape<br/>
                    <img src="__static__/img/Group_16.png" class="pic_more"/>
                </div>
            <img src="__static__/img/156490.png" class="pic_3"/>
            <img src="__static__/img/289300.png" class="pic_4"/>
            <img src="__static__/img/500245952.png" class="pic_5"/>
            <img src="__static__/img/Rectangle24.png" class="pic_6"/>
            <img src="__static__/img/Triangle.png" class="pic_7"/>
        </div>
        <div class="building_center building_first">
                <div class="building_center_top">
                    Architectural achievement display
                    <img src="__static__/img/Group8.png" class="prev_button"/>
                    <img src="__static__/img/Group9.png" class="next_button"/>
                </div>
                <ul>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/500483212.png" /></div>
                        <div class="building_center_left">
                            Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque<br/>
                            queequeg from between the whale and the ship.
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>April 26.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/55d413128f280.png" /></div>
                        <div class="building_center_left">
                            Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque<br/>
                            queequeg from between the whale and the ship.
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>April 26.   2017
                        </div>
                    </li>
                </ul>
        </div>
        <div class="building_center building_both">
                <div class="building_center_top">
                    Atlantis amorous feelings
                    <img src="__static__/img/Group8.png" class="prev_button"/>
                    <img src="__static__/img/Group9.png" class="next_button"/>
                </div>
                <ul>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/500483213.png" /></div>
                        <div class="building_center_left">
                            Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae<br/>
                            dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor<br/>
                            mollis mi. Sed vel tristique quam.
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>Octomber 18.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/21312.png" /></div>
                        <div class="building_center_left">
                            Vestibulum interdum vestibulum felis ac molestie. Praesent aliquet quam et libero dictum, vitae<br/>
                            dignissim leo eleifend. In in turpis turpis. Quisque justo turpis, vestibulum non enim nec, tempor<br/>
                            mollis mi. Sed vel tristique quam.
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>Octomber 18.   2017
                        </div>
                    </li>
                </ul>
        </div>
    </div>
    <div class="technology">
                <div class="tech_title">Our technological advantage</div>
                <div class="tech_main">
                    <li>
                        <p>Safety of Putting chain</p>
                        <hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>
                        Asymmetric information encryption elliptic curve algorithm has<br/>
                        built-in chain block pute used to maintain the safety of the link,<br/>
                        For the block generation is not connected with the internal block of<br/>
                        a surname the fast symmetry information encryption algorithm,<br/>
                        Do not place the safe speed of coordination in the face,<br/>
                        Security Enough in the circumstances, not convenient compromise.
                    </li>
                    <li>
                        <p>Putting chain Robustness</p>
                        <hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>
                        Push chain is a link system with system robustness,<br/>
                        Contains the data quality and reliability of Data16 / 38 Quality<br/>
                        the measure accuracy of the Precision is still considered .<br/>
                        The robustness of push chain is decided by the collective decision<br/>
                        of link block, Skipping bad nodes to achieve system fault tolerance .
                    </li>
                    <li>
                        <p>IoT Internet of things intelligent property</p>
                        <hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>
                        The IoT records the Putnam link information RPC Port hash,<br/>
                        Can be given to the intelligent property of logical segmentation,<br/>
                        Can make the best property into multiple copies .<br/>
                        The realization of multiple points, transfer, registration,<br/>
                        authorization, and other operations .
                    </li>
                </div>
    </div>
    <div class="designer">
        <div class="designer_left">
            <div class="d_l_2">
                DESIGNERS
            </div>
        </div>
        <div class="designer_main">
            <li>
                <img src="__static__/img/Bitmap.png" class="des_pic"/>
                <p>Sara Wright</p>
                Aliquam erat ac ipsum. Integer<br/>
                aliquam purus. Quisque lorem tortor<br/>
                fringilla sed.
            </li>
            <li>
                <img src="__static__/img/Bitmap3.png" class="des_pic"/>
                <p>Brandon Ross</p>
                Vestibulum commodo volutpat a,<br/>
                convallis ac, laoreet enim. Phasellus<br/>
                fermentum in dolor.
            </li>
            <li>
                <img src="__static__/img/Bitmap312.png" class="des_pic"/>
                <p>Kevin Perry</p>
                Quisque lorem tortor fringilla sed,<br/>
                vestibulum id, eleifend justo orci<br/>
                luctus non.
            </li>
        </div>
    </div>
    <div class="contact">
            <div class="contact_top">
                <div class="contact_question">Have a question ?</div>
                <div class="contact_right"><img src="__static__/img/Group30.png" /></div>
            </div>
            <div class="contact_bottom">
                <div class="contact_bottom_left">
                    <p>Architectural Group</p>
                    Shanghai  is a company engaged in chemical raw materials, electronic products trading<br/>
                    company .The company was established in May 1998, has many famous enterprises<br/>
                    at home and abroad (such as XX company) to establish a long-term<br/>
                    friendly business relationship. Company mainly engaged in mechanical and electrical products<br/>
                    and electronic products. Since its inception continue to absorb a variety of talents .<br/>
                    <p>Contact center</p>
                    Shanghai Pudong New Area Century Avenue Century metropolis .<br/>
                    <img src="__static__/img/Group39.png" /><img src="__static__/img/Group40.png" /><img src="__static__/img/Group41.png" /><img src="__static__/img/Group42.png" />
                    <br/>
                    Contact us + 637829(00)<br/>
                    E-mail : Meet our designers .com
                </div>
                <div class="contact_bottom_right">
                    <p>Send us a message</p>
                    <input type="text" class="user_name" name="user_name" placeholder="Name"/>
                    <input type="text" class="user_email" name="user_email" placeholder="E-mail"/>
                    <input type="text" class="user_subject" name="user_subject" placeholder="Subject"/>
                    <input type="text" class="user_message" name="user_message" placeholder="Message"/>
                    <input type="button" class="submit" value="send a message"/>
                </div>
                <div class="contact_bottom_bottom">
                    <div class="go_top_pic"></div>
                </div>
            </div>
    </div>
</body>
</html>
<script src="__static__/js/jquery.min.js"></script>
<script src="__static__/js/swiper.min.js"></script>
<script src="__static__/js/index.js"></script>
