<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房产</title>
    <link type="text/css" href="__static__/css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="__static__/css/swiper.min.css">
    <style>
        .swiper-button-next{
            width: 3%;
            height: 6%;
            right: 5%;
            background: url('__static__/img/Group31.png');
        }
        .swiper-button-prev{
            width: 3%;
            height: 6%;
            left: 5%;
            background: url('__static__/img/Group20.png');
        }
        .swiper-slide{
            background-position: center;background-size: cover;
        }
        .swiper-container {
            width: 95%;
            height: 100%;
            margin:0 auto;
        }
    </style>
</head>
<body>
    <div class="swiper-container top_banner">
        <div class="top_right">Italian tranquility</div>
        <div class="swiper-wrapper banner_lunbo">
            <div class="swiper-slide" style="background-image:url('__static__/img/Banner.png');"></div>
            <!--<div class="swiper-slide" style="background-image:url('__static__/img/101381.png');"></div>-->
        </div>
        <!--<div class="swiper-pagination"></div>-->
        <!-- Add Arrows -->
        <!--<div class="swiper-button-next"></div>-->
        <!--<div class="swiper-button-prev"></div>-->
    </div>
    <div class="top_meau">
        <div class="left_meau">Put Link</div>
        <ul>
            <li>首页</li>
            <li>关于普特链</li>
            <li>普特链分配方案</li>
            <li>普特链路线图</li>
            <li>我们的团队</li>
            <li>白皮书</li>
            <li>En</li>
        </ul>
    </div>
    <div class="honor">
        <div class="honor_top">
                <div class="honor_top_top">
                    <div class="h_t_t_2">
                        WE IN NUMBERS
                    </div>
                </div>
            <div class="honor_top_main">
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">3</span><br/>YEARS</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">12</span><br/>MEMBERS</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">25</span><br/>YEARS OF EXPERIENCE</li>
                <li><span style="font-family: LucidaGrande;font-size: 64px;color: #000000;">350</span><br/>REALIZATIONS</li>
            </div>
        </div>
        <div class="honor_main">
            <div class="honor_main_list">
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">1</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">2</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">3</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">4</span></li>
                <li>#<span style="font-family: LucidaGrande;font-size: 40px;color: #000000;">5</span></li>
            </div>
            <div class="honor_main_main">
                <li>
                    <div class="h_m_m_word">
                       <h3>什么是普特链</h3>
                        <h5>What is Put Link?</h5>
                        普特链（Put link）是为了实现全球地产 ICO、地产类投资及产权交易的分<br/>
                        布式区块链系统，通过将现有的区块链技术在地产领域实际应用，完成地产项目<br/>
                        的投融资、确权、交易，实现全球跨境地产投资；并逐步将 AI 及物联网融入到<br/>
                        系统中，最终打造成真正去中心化的分布式区块链系统。<br/>
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
                <li>
                    <div class="h_m_m_word">
                        <h3>为什么选择普特链</h3>
                        <h5>Why choose Put Link?</h5>
                        普特链的创立，目标在于消除现有 ICO 项目中存在的大量泡沫，让数字资<br/>
                        产和房地产项目绑定，仍房地产项目所获得的收益再转换为数字资产，让更多用<br/>
                        户通过自己所了解的房地产投资进入到数字资产领域。同时，通过 AI、物联网、<br/>
                        区块链技术解决跨境投资、管理、分红以及权益交割等一系列问题，使得现有的<br/>
                        房地产项目更加透明，信息更加准确，幵陈低交易的成本。<br/>
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
                <li>
                    <div class="h_m_m_word">
                        <h3>普特链的特点</h3>
                        <h5>The characteristics of Put Link</h5>
                        普特链作为优资恒信全球资产朋务平台癿衍生项目，为全球地产项目提供新<br/>
                        癿金融投资斱式，可以为优资恒信全球资产朋务平台中，符合条件癿资产项目实<br/>
                        现数字化，宋成地产 ICO，资产拆分重组以及产权交易等功能。<br/>
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
                <li>
                    <div class="h_m_m_word">
                        <h3>普特链的设计实现</h3>
                        <h5>The design of Put Link</h5>
                        普特链采用双货币体系，即 P-share 和 P-cash。<br/>
                        成立普特链资产管理委员会，统一对平台合作癿房地产项目迕行审核、监管、
                        产权代持、分配收益等工作。<br/>
                        普特链的分层结构、普特链的链路结构、双币制度
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
                <li>
                    <div class="h_m_m_word">
                        <h3>加入众筹</h3>
                        <h5>（众筹倒计时） </h5>
                        Design inspiration of future architecture<br/>
                        Artificial intelligence of future science and<br/>
                        technology,Make life more confortable
                    </div>
                    <img src="__static__/img/500260597.png" class="pic_1"/>
                    <img src="__static__/img/index_1.png" class="pic_2"/>
                </li>
            </div>
        </div>
    </div>
    <div class="building">
        <div class="building_top">普特链的分配方案</div>
        <div class="building_main">
                <div class="b_m_word">
                    <h3>项目类型</h3>
                    <hr style="width:3%;text-align: center;"/>
                    <h5>公寓、写字楼、商场、酒庖、商铺等经营类项目</h5>
                    单一项目建立独立公司持有，<br/>
                    统一管理物业的维护、收益、<br/>
                    代缴各类费用及税费的工作，<br/>
                    项目出售后，公司注销
                    <!--<img src="__static__/img/Group_16.png" class="pic_more"/>-->
                </div>
            <img src="__static__/img/156490.png" class="pic_3"/>
            <img src="__static__/img/289300.png" class="pic_4"/>
            <img src="__static__/img/500245952.png" class="pic_5"/>
            <img src="__static__/img/Rectangle24.png" class="pic_6"/>
            <img src="__static__/img/Triangle.png" class="pic_7"/>
        </div>
        <div class="building_center building_first">
                <div class="building_center_top">
                    物联网房地产项目信息上链
                    <img src="__static__/img/Group8.png" class="prev_button"/>
                    <img src="__static__/img/Group9.png" class="next_button"/>
                </div>
                <ul>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/500483212.png" /></div>
                        <div class="building_center_left">
                            经营数据管理<br/>
                            了解项目经营性数据，如租户或商户信息，客户名称、建筑面积、<br/>
                            租约区间、租金、物业费用等，根据租户或商户的信息发更，对数据进行实时调整和更新，直观了解项目的经营状状
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>October 23.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/55d413128f280.png" /></div>
                        <div class="building_center_left">
                            项目差异化管理<br/>
                            根据项目特性调整数据结构，如酒店、写字楼、公寓、养老院等不<br/>

                            同项目记录信息，做到标准化+定制化功能；
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>October 23.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/55d413128f280.png" /></div>
                        <div class="building_center_left">
                            运维数据管理<br/>
                            不分析对运维数据进行收集分析，优化和完善现行管理制度，降低项目经<br/>

                            营成本，形成统一高效的管理平台
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>October 23.   2017
                        </div>
                    </li>
                </ul>
        </div>
        <div class="building_center building_both">
                <div class="building_center_top">
                    区块链保障房地产项目资产的有效性和完整性
                    <img src="__static__/img/Group8.png" class="prev_button"/>
                    <img src="__static__/img/Group9.png" class="next_button"/>
                </div>
                <ul>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/500483213.png" /></div>
                        <div class="building_center_left">
                            房地产项目资产的发行、确权<br/>
                            房地产项目可发行单一项目货币，实现房地产项目的权益分割，相<br/>

                            应的项目权益通过密钥进行确权，幵记录项目权益交易信息；
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>Octomber 23.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/21312.png" /></div>
                        <div class="building_center_left">
                            智能合约完成房地产项目资产的交易<br/>
                            通过智能合约，实现任意规则或条件的项目权益交易，完善房地产<br/>

                            项目的投融资通道，加强项目权益流动性；
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>Octomber 23.   2017
                        </div>
                    </li>
                    <li>
                        <div class="building_center_pic"><img src="__static__/img/21312.png" /></div>
                        <div class="building_center_left">
                            分布式数据库记录房地产项目资产信息<br/>
                            通过使用分布式数据库来记录房地产项目资产信息、交易记录，保

                            证去中心化数据库克免自然灾害、网络攻击及其他因素得破坏，保障所有数据信息的安全性和宋整性。
                        </div>
                        <div class="building_center_right">
                            <span>Date</span>Octomber 23.   2017
                        </div>
                    </li>
                </ul>
        </div>
    </div>
    <div class="technology">
                <div class="tech_title">普特链的路线图</div>
                <div class="tech_main">
                    <!--<li>-->
                        <!--<p>Safety of Putting chain</p>-->
                        <!--<hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>-->
                        <!--Asymmetric information encryption elliptic curve algorithm has<br/>-->
                        <!--built-in chain block pute used to maintain the safety of the link,<br/>-->
                        <!--For the block generation is not connected with the internal block of<br/>-->
                        <!--a surname the fast symmetry information encryption algorithm,<br/>-->
                        <!--Do not place the safe speed of coordination in the face,<br/>-->
                        <!--Security Enough in the circumstances, not convenient compromise.-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<p>Putting chain Robustness</p>-->
                        <!--<hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>-->
                        <!--Push chain is a link system with system robustness,<br/>-->
                        <!--Contains the data quality and reliability of Data16 / 38 Quality<br/>-->
                        <!--the measure accuracy of the Precision is still considered .<br/>-->
                        <!--The robustness of push chain is decided by the collective decision<br/>-->
                        <!--of link block, Skipping bad nodes to achieve system fault tolerance .-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<p>IoT Internet of things intelligent property</p>-->
                        <!--<hr style="width:25%;margin-left:62%;border:1px solid #EBEBEB;"/>-->
                        <!--The IoT records the Putnam link information RPC Port hash,<br/>-->
                        <!--Can be given to the intelligent property of logical segmentation,<br/>-->
                        <!--Can make the best property into multiple copies .<br/>-->
                        <!--The realization of multiple points, transfer, registration,<br/>-->
                        <!--authorization, and other operations .-->
                    <!--</li>-->
                </div>
    </div>
    <div class="designer">
        <div class="designer_left">
            <div class="d_l_2">
                我们的团队
            </div>
        </div>
        <div class="designer_main">
            <li>
                <img src="__static__/img/Bitmap.png" class="des_pic"/>
                <p>周海林</p>
                13 年工作经验，历任 TOM 无线业务经理，EOE 副总裁、安卓越移动 CEO、<br/>
                亚杰基金执行董事。对无线业务有深刻了解。2010 年起开始专注于海内外早期投资，<br/>
                参不投资 23 个项目，包拪 Oben，Lychee，魔镜 vr 等。<br/>
                幵在海内外合作基金、理财机构，进行对接。
            </li>
            <li>
                <img src="__static__/img/Bitmap3.png" class="des_pic"/>
                <p>Michael SU 区块链负责人</p>
                曾在澳洲参不创建 Bitcoin Group，全球首家申请上市的比特币企业，并在
                澳洲成功<br/>部署第一台比特币 ATM，曾担任 BTCTrade 澳洲合伙人，负责运营澳<br/>
                洲比特币交易网站，幵在墨尔本本地联合 City Discount 推广数字货币支付，<br/>
                2016 年起担任大红火交易平台 CEO，致力于 FinTech 研究和数字资产、数字<br/>
                资产合规。
            </li>
            <li>
                <img src="__static__/img/Bitmap312.png" class="des_pic"/>
                <p>Steven WU 海外项目负责人</p>
                曾任职中国杭州假日之星酒店集团副总裁、中国杭州酷漫居连锁酒店董事长、<br/>
                Tri President Pty Ltd 公司董事长、宋城集团大洋洲地区 CEO，负责运营两个度<br/>
                假村酒店，一个旅游服务公司，公寓楼开发项目以及房地产中介服务公司，以及<br/>
                负责宋城总投资约 8 亿澳元的澳大利亚主题公园项目，总投资约 3 亿澳元的海<br/>
                边公寓楼项目以及一块单地约 6200 公顷的旅游区域开发项目
            </li>
        </div>
    </div>
    <div class="contact">
            <div class="contact_top">
                <div class="contact_question">白皮书下载</div>
                <div class="contact_right"><a href="__back__/public/download/普特链白皮书V1.17.pdf" download><img src="__static__/img/Group30.png" /></a></div>
            </div>
            <div class="contact_bottom">
                <div class="contact_bottom_left">
                    <p>版权声明</p>
                    未经本公司书面许可，<br/>
                    任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分<br/>
                    进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。<br/>
                    凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。
                    <p>联系方式</p>
                    Shanghai Pudong New Area Century Avenue Century metropolis .<br/>
                    <img src="__static__/img/Group39.png" /><img src="__static__/img/Group40.png" /><img src="__static__/img/Group41.png" /><img src="__static__/img/Group42.png" />
                    <br/>
                    Contact us + 637829(00)<br/>
                    E-mail : Meet our designers .com
                </div>
                <div class="contact_bottom_right">
                    <p>给我们留言</p>
                    <input type="text" class="user_name" name="user_name" placeholder="Name"/>
                    <input type="text" class="user_email" name="user_email" placeholder="E-mail"/>
                    <input type="text" class="user_subject" name="user_subject" placeholder="Subject"/>
                    <input type="text" class="user_message" name="user_message" placeholder="Message"/>
                    <input type="button" class="submit" value="send a message"/>
                </div>
                <div class="contact_bottom_bottom">
                    <div class="go_top_pic"></div>
                </div>
            </div>
    </div>
</body>
</html>
<script src="__static__/js/jquery.min.js"></script>
<script src="__static__/js/swiper.min.js"></script>
<script src="__static__/js/jquery.nicescroll.js"></script>
<script src="__static__/js/index.js"></script>
